<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Categorytabs>
            <version>0.1.0</version>
        </Magentothem_Categorytabs>
    </modules>
    <frontend>
        <routers>
            <categorytabs>
                <use>standard</use>
                <args>
                    <module>Magentothem_Categorytabs</module>
                    <frontName>categorytabs</frontName>
                </args>
            </categorytabs>
        </routers>
        <layout>
            <updates>
                <categorytabs>
                    <file>categorytabs.xml</file>
                </categorytabs>
            </updates>
        </layout>
    </frontend>
      
    <global>
      
        <blocks>
            <categorytabs>
                <class>Magentothem_Categorytabs_Block_Categorytabs_Widget</class>
            </categorytabs>
        </blocks>
        <helpers>
            <categorytabs>
                <class>Magentothem_Categorytabs_Helper</class>
            </categorytabs>
        </helpers>
    </global>
	<default>
		<categorytabs>
			<categorytabs_config>
				<enabled>1</enabled>
			</categorytabs_config>
		</categorytabs>
	</default>
</config>