<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Fancyproduct>
            <version>1.6.3.0</version>
        </Magentothem_Fancyproduct>
    </modules>
    <frontend>
        <routers>
            <fancyproduct>
                <use>standard</use>
                <args>
                    <module>Magentothem_Fancyproduct</module>
                    <frontName>fancyproduct</frontName>
                </args>
            </fancyproduct>
        </routers>
        <layout>
            <updates>
                <fancyproduct>
                    <file>fancyproduct.xml</file>
                </fancyproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fancyproduct>
				<use>admin</use>
				<args>
					<module>Magentothem_Fancyproduct</module>
					<frontName>fancyproduct</frontName>
				</args>
			</fancyproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="fancyproduct">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<fancyproduct translate="title" module="fancyproduct">
						<title>Fancy Product</title>
						<sort_order>28</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/fancyproduct</action>
							</configuration>
						</children>
					</fancyproduct>
				</children>
			</magentothem>
		</menu>
		<layout>
			<updates>
				<fancyproduct>
					<file>fancyproduct.xml</file>
				</fancyproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <fancyproduct>
                <class>Magentothem_Fancyproduct_Model</class>
                <resourceModel>fancyproduct_mysql4</resourceModel>
            </fancyproduct>
            <fancyproduct_mysql4>
                <class>Magentothem_Fancyproduct_Model_Mysql4</class>
                <entities>
                    <fancyproduct>
                        <table>fancyproduct</table>
                    </fancyproduct>
                </entities>
            </fancyproduct_mysql4>
        </models>
        <resources>
            <fancyproduct_setup>
                <setup>
                    <module>Magentothem_Fancyproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fancyproduct_setup>
            <fancyproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fancyproduct_write>
            <fancyproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fancyproduct_read>
        </resources>
        <blocks>
            <fancyproduct>
                <class>Magentothem_Fancyproduct_Block</class>
            </fancyproduct>
        </blocks>
        <helpers>
            <fancyproduct>
                <class>Magentothem_Fancyproduct_Helper</class>
            </fancyproduct>
        </helpers>
    </global>
	<default>
		<fancyproduct>
			<fancyproduct_config>
				<enabled>1</enabled>
				<title>popular Products</title>
				<mode>new</mode>
				<effect>swing</effect>
				<width_fancyproduct>auto</width_fancyproduct>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<review>1</review>
				<description>0</description>
				<maxlength>60</maxlength>
				<qty>6</qty>
				<items_show>3</items_show>
				<items_height>130</items_height>
				<width_thumbnail>150</width_thumbnail>
				<height_thumbnail>150</height_thumbnail>
			</fancyproduct_config>
		</fancyproduct>
	</default>
</config>